
@{
    ViewData["Title"] = "Admin Room Features ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Rooms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Room Features</li>
    </ol>
</nav>








