@{
    ViewData["Title"] = "SMS Config";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">SMS</a></li>
        <li class="breadcrumb-item active" aria-current="page">Setup SMS Configuration</li>
    </ol>
</nav>




