@{
    ViewData["Title"] = "Email Config";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Email</a></li>
        <li class="breadcrumb-item active" aria-current="page">Setup Email Configuration</li>
    </ol>
</nav>
